[Desktop Entry]
Version=1.0
Name=LiSpeak
GenericName=LiSpeak  
Name[en_CA]=LiSpeak
Comment=LiSpeak is a voice command system
Exec=/home/brett/LiSpeak/start
Path=/home/brett/LiSpeak
Terminal=false
Type=Application
Categories=Application;
